body {
    background-color: white;
    font-family:Helvetica,Calibri,Arial,sans-serif;
    font-size:16px;
}

tt {
    background-color: #eeeeee;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

pre {
    border: 1px solid #cccccc;
    background-color: #dddddd;
    padding: 0.2em;
}

div.heading {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #ff0000;
    color: #ffffff;
}

div.heading a {
    color: #ffcccc;
}

div.heading p {
    padding-left: 1em;
}

div.heading .heading-title {
    font-style: italic;
    font-weight: bold;
}

div#mainContent {
    margin-top: 10em;
}

.toc .tocnumber {
    font-weight: bold;
}

.toc .tocnumber:after {
    content:" : ";
}

a.removed {
    color: #550000;
    border-bottom: 1px solid #550000;
    cursor: not-allowed;
}
